<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
</head>
<body>
	<!--<div class="fix-box">
		<div class="w1190">
			<dl>
				<dt>店家招聘</dt>
				<dd>
					<a data-type="1" class="details-a-click">本地招聘信息</a>
				</dd>
				<dd>
					<a data-type="2" class="details-a-click">本地求职信息</a>
				</dd>
			</dl>
		</div>
	</div>-->
	
	<div id="wp"></div>
	</div>
</body>
<script id="tpl" type="text/html">
	<%var DETAIL_PREFIX = '/view/data/resume.html';%>
	<%var educationToString= function (education) {
        if(education == "0") return "无";
        if(education == "1") return "高中";
        if(education == "2") return "大专";
        if(education == "3") return "本科";
        if(education == "4") return "本科以上";
   };%>
			
		<%for (var i = 0; i < data.length; i++) {%>
			
			<div class="container p-l-0 p-r-0">
				<div class="recruit_list m-tb-10">
					<div class="row">
						<ul class="col-xs-12 col-sm-4 col-md-4">
							<li class="p-10 p-0 f-rem1-6">
								<a href="<%:=DETAIL_PREFIX%>?d=<%:=data[i].id%>" class=" h-c-red"><strong><%:=data[i].name%></strong></a>
							</li>
							<li class="p-10 c-ff552e p-0"><strong class="f-s18"><%:=data[i].sex ? "男" : "女"%>&nbsp;|&nbsp;<%:=data[i].age%>&nbsp;|&nbsp;<%:=data[i].experience%>&nbsp;|&nbsp;<%:=educationToString(data[i].education)%></strong></li>
							<li class="p-10 p-0">
								<%:=data[i].job_treatment%>
							</li>
						</ul>
						<ul class="col-xs-8 col-sm-4 col-md-5">
							<li class="p-10 c-999 p-0 f-rem08 c-red">期待职位：<%:=data[i].job_intention%></li>
							<li class="p-10 p-0 f-rem08 m-t-1">
								<span>期待地点：<%:=data[i].job_area%></span>
							</li>
				
						</ul>
						<ul class="col-xs-4 col-sm-4 col-md-3 m-t-10 m-t-2 text-c">
							<li class="p-10 p-0">
								<button class="btn btn-danger m-qm f-rem05 p-5" onclick="window.location.href='<%:=DETAIL_PREFIX%>?d=<%:=data[i].id%>'">查看简历</button>
							</li>
						</ul>
					</div>
				
				</div>	
			</div>
			<%}%>		
	<hr>
</script>
</html>